
body, html {
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
	font-family: Arial, sans-serif;
}

h1 {
	color: #333;
	font-size: 80px;
}

div {
	width: 300px;
	opacity: 1;
	margin: 50px auto;
}

.helper {
	display: block;
}
